<div class="tesla">
    <h3>{{tesla.title}}</h3>
    <img src="{{tesla.image}}" alt="{{tesla.title}}">
    <picture class="tesla__desc">{{tesla.description}}</picture>
    <p class="tesla__price price">{{tesla.price}}</p>
</div>









